<html>
<head>
    <title>PawRequest</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>

<h1>PawRequest</h1>

<h2>Pycommence</h2>
<p>Python library for working with Commence RM relational databases.</p>

<h2>Shipaw</h2>
<p>Ship items by parcelforce using their ExpressLink API</p>

<h2>Suppawt</h2>
<p>Support functions for common tasks</p>

<h2>Scrapaw</h2>
<p>Scrape Podcast Data</p>


<h2>RedditBot</h2>
<p>Moderate a subreddit</p>

<h2>Soupaw</h2>
<p>BeautifulSoup support</p>

<h2>Amherst</h2>
<p>Co-ordinate Shipaw, Pawdantic.pawui and Pycommence to integrate shipping into our relational db, using
    pydantic/fastapi/fastui/ and flaskwebgui to run as desktop app</p>

<h2>DecodeTheBot</h2>
<p>DecodingTheGuru Podcast Bot</p>
<p>Coordinate Scrapw, Soupaw, RedditBot to scrape episode data, and threads in the official subreddit</p>
<p>Maintain SqlModel table for each of Guru, Episode, RedditThread</p>
<p>Assign Relationships between the models</p>
<p> FastAPI Backend, Fastui Front</p>

<h2>Pawdantic</h2>
<p>Pydantic Support</p>
<p>Optional SqlModel and FastUi support</p>

<h2>Pawlogger</h2>
<p>Logging Support - configure builtin and loguru loggers</p>


</body>
</html>