{% for episode in episodes %}
    <article class="episode" onclick={{ episode.slug }}>
        <div class="episode-title">{{ episode.title }}</div>
        {% if episode.notes %}
            <div class="episode-notes">
                {% for note in episode.notes %}
                    <p>{{ note }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {#        {% if episode.notes %}#}
        {#            <div class="episode-notes">{{ '\n\n'.join(episode.notes) }}</div>#}
        {#        {% endif %}#}
        <p class="episode-number">{{ episode.number }} </p>
        <a href="{{ episode.slug }}" class="episode-link"></a>

    </article>
{% endfor %}