<div id='episode-detail'>
    <h1 id='ep-{{ episode.id }}'>{{ episode.title }}</h1>
    <a href='{{ episode.url }}'>Play on Captivate.fm</a>
    <p>Date Published: {{ episode.date.strftime('%A %B %d %Y') }}</p>

    <h3>Show Notes:</h3>
    {% for note in episode.notes %}
        <p>{{ note }}</p>
    {% endfor %}

    <h3>Show Links:</h3>
    {% for text, link in episode.links.items() %}
        <a href="{{ link }}">{{ text }}</a><br>
    {% endfor %}

    <h3>Featured Gurus</h3>
    {% for guru in episode.gurus %}
        <p>{{ guru.name }}</p>
        <a href={{ guru.slug }}> Details</a>
    {% endfor %}

    <h3>Related Reddit Threads</h3>
    {% for thread in episode.threads %}
        <a href="{{ thread.shortlink }}">{{ thread.title }}</a><br>
    {% endfor %}
</div>
