:root {
    --ff-sans: 'Open Sans', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 700;

    --fs-small: 1rem;
    --fs-medium: 1.5rem;
    --fs-large: 2rem;

    --clr-neutral-200: hsl(2, 0%, 100%);
    --clr-neutral-400: hsl(2, 0%, 75%);
    --clr-neutral-600: hsl(2, 0%, 50%);

    --clr-card-title: hsl(10, 20%, 30%);

    --clr-primary: cornflowerblue;
    --clr-secondary: hsl(0, 10%, 75%);
    --clr-accent: hsl(0, 10%, 53%);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--clr-primary);
}

.body {
    margin: 0;

}

h1,
h2,
h3 {
    line-height: 1.1;
}

/*.header-wrapper {*/
/*    margin-inline: auto;*/
/*    max-width: 1000px;*/
/*}*/


.wrapper {
    max-width: 1200px;
    margin-inline: auto;
}


header {
    text-align: center;
    margin-block: 1rem;
}

.search_wrapper {
    display: flex;
    margin-block: 1rem;
    justify-content: space-around;
    font-size: 2rem;
}

.search {
    flex: 1 1 50%;
    /*border: 1px solid black;*/
    text-align: center;


    > p {
        /*margin: 0;*/
        /*padding: 0;*/
        font-size: 2rem;
    }

    > form > div > input {
        font-size: 2rem;
        width: 85%;
    }
}


.cards {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}


.card {
    flex: 1 1 30%;
    text-align: center;
    background-color: var(--clr-secondary);
    border-radius: 1rem;
    padding: 1em;
    /*padding-bottom: 2em;*/
    box-shadow: 1em 1em 1em;
    cursor: pointer;
}

.card:focus,
.card:hover {
    /*background: var(--clr-accent);*/

    > * > .card-title {
        color: var(--clr-primary);

    }
}


.card-title {
    background: var(--clr-accent);
    border-radius: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 8rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--clr-card-title);
}

.card-detail {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--clr-accent);
    margin-block: .5rem;
}


.simple-link {
    /*display: block;*/
    /*height: 100%;*/
    /*width: 100%;*/
    text-decoration: none;
    /*color: var(--clr-neutral-200);*/
    /*color: inherit;*/
}


.episode-note {
    /*font-size: 1rem;*/
    /*color: var(--clr-neutral-600);*/
    /*margin-block: .5rem;*/
}