.body {
    /*align-items: center;*/

    /*justify-content: center;*/
    align-content: center;
}

.main_div {
    width: min(80%, 90rem);
    display: grid;
    gap: 1rem;
    /*grid-template-columns: 1fr 3fr;*/
    grid-auto-flow: column;
}


.search {
    font-size: 2rem;
    > * {
        grid-auto-flow: row;
    }
}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}


.card {
    flex: 1 1 15%;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 1rem;
    padding: 1em;
    /*padding-bottom: 2em;*/
    box-shadow: 1em 1em 1em;
    cursor: pointer;
}

.card:focus,
.card:hover {
    background: bisque;
}


.guru-episodes {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.guru-name {
    /*height: 30%;*/
    background: aquamarine;
    border-radius: .5rem;
    display: -webkit-box;

    > a {
        color: red;
        padding: 1em;
        text-align: center;
    }

}

.simple-link {
    /*display: block;*/
    /*height: 100%;*/
    /*width: 100%;*/
    text-decoration: none;
}

.ten-lines {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.episode-number {
    display: none;
    text-align: end;
    vertical-align: bottom;
}

.episode-title {
    /*height: 30%;*/
    background: aquamarine;
    border-radius: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    min-height: 4lh;
    -webkit-box-orient: vertical;
    overflow: hidden;

> a = simple-link

}


