<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gurus</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>

</head>
<body>
<header>
    <div class="wrapper">
        <h1>Decoding The Gurus - Gurus</h1>
    </div>
</header>
<main>

    <div class="wrapper">
        {#    {% include 'nav.html' %}#}
        <div class="search_wrapper">
            <div class="search">
                <span>Filter By Name</span>
                <form>
                    <div class="form-input">
                        <input type="hidden" name="search_kind" value="name">
                        <input class="form-control" type="search"
                               name="search_str" placeholder="Begin Typing To Filter..."
                               hx-post="/guru/get_gurus/"
                               hx-trigger="input changed delay:500ms, search"
                               hx-target="#search-results">
                    </div>
                </form>
            </div>

            <div class="search">
                <span>Filter By Episode Title</span>
                <form>
                    <div class="form-input">
                        <input type="hidden" name="search_kind" value="episode">
                        <input class="form-control" type="search"
                               name="search_str" placeholder="Begin Typing To Filter..."
                               hx-post="/guru/get_gurus/"
                               hx-trigger="input changed delay:500ms, search"
                               hx-target="#search-results">
                    </div>
                </form>
            </div>

            <div class="search">
                <span>Filter By Reddit Thread</span>
                <form>
                    <div class="form-input">
                        <input type="hidden" name="search_kind" value="reddit">
                        <input class="form-control" type="search"
                               name="search_str" placeholder="Begin Typing To Filter..."
                               hx-post="/guru/get_gurus/"
                               hx-trigger="input changed delay:500ms, search"
                               hx-target="#search-results">
                    </div>
                </form>
            </div>

        </div>
        <div id="search-results" class="cards" hx-get="/guru/get_gurus/" hx-trigger="load" hx-target="this"></div>

    </div>
</main>
<footer>
    <p>Decoding The Gurus</p>
</footer>
</body>
</html>
