{% for episode in episodes %}
    <article class="card">
        <a href="{{ episode.slug }}" class="simple-link">
            <div class="guru-name">{{ episode.title }}</div>
            {% if episode.notes %}
                <div class="guru-episodes">
                    {% for note in episode.notes %}
                        <p>{{ note }}</p>
                    {% endfor %}
                </div>
            {% endif %}
{#            <p class="episode-number">{{ episode.number }} </p>#}
        </a>
    </article>
{% endfor %}
