<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Episodes</title>
    <link href="{{ url_for('static', path='/ep_styles.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>

</head>
<body>

<div class="main-div">
    <div class="search">
        <div>
            <span>Filter By Title</span>
            <form>
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="title">
                    <input class="form-control" type="search"

                           name="search_str" placeholder="Begin Typing To Filter..."
                           hx-post="/eps/get_eps/"
                           hx-trigger="input changed delay:500ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

        <div>
            <span>Filter By Guru</span>
            <form>
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="guru">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Begin Typing To Filter..."
                           hx-post="/eps/get_eps/"
                           hx-trigger="input changed delay:500ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

        <div>
            <span>Filter By Notes</span>
            <form>
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="notes">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Begin Typing To Filter..."
                           hx-post="/eps/get_eps/"
                           hx-trigger="input changed delay:500ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

    </div>
    <div id="search-results" class="episodes" hx-get="/eps/get_eps/" hx-trigger="load" hx-target="this"></div>

</div>

</body>
</html>
